<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

 <% if user_signed_in? %>
 <p> Usuário logado</p>
 <%= link_to 'Efetuar logoff...[User]',
destroy_user_session_path, method: :delete %>
 <% end %>